<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" method="post">
  <p>sepal length:</p>
  <p><input type="range" name="sepal_length" min="43" max="79"/></p>
  <p>sepal width:</p>
  <p><input type="range" name="sepal_width" min="20" max="44"/></p>
  <p>petal length:</p>
  <p><input type="range" name="petal_length" min="10" max="69"/></p>
  <p>petal width:</p>
  <p><input type="range" name="petal_width" min="1" max="25"/></p>


  <p><input type="submit" value="submit"/></p>
</form>

<h1>{{predicted}}</h1>

</body>
</html>